<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PTCG TTS MAKE</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }

        #inputText {
            margin-bottom: 10px;
        }

        .imageContainer {
            margin-top: 20px;
        }

        #generatedImage {
            width: 600px;
            height: 499px;
            margin-bottom: 10px;
        }

        #downloadButton {
            margin-top: 10px;
        }

    </style>
</head>
<body>
<div class="container">
    <input type="text" id="inputText" placeholder="输入uuid">
    <button id="generateButton">生成</button>
    <div class="imageContainer">
        {% if execute_msg == '制作完成' %}
            <p>点击下载：<a href="{{ deck_png }}" download="tts.png" id="deck_png">
                {{ deck_name }}
            </a></p>

            <div><img id="generatedImage" src="" alt="生成的图片" hidden="hidden"></div>
            <button id="previewButton">预览图片</button>
        {% else %}
            <h2>{{ execute_msg }}</h2>
        {% endif %}
    </div>
    <p>项目地址：https://github.com/auosun/PTCG_TTS_DECK/tree/main</p>
</div>

<script>
    // 获取元素
    const inputText = document.getElementById('inputText');
    const generateButton = document.getElementById('generateButton');


    // 生成按钮点击事件
    generateButton.addEventListener('click', () => {
        const text = inputText.value; // 获取输入框的值
        const link = document.createElement('a');
        link.href = location.origin + '?deck_uuid=' + text;
        link.click()
    });
    {% if execute_msg == '制作完成' %}
    const previewButton = document.getElementById('previewButton')
    previewButton.addEventListener('click', () => {
        const img = document.getElementById('generatedImage')
        const deck_png = document.getElementById('deck_png')
        img.src = deck_png.href
        img.removeAttribute('hidden')
    })
    {% endif %}

</script>
</body>
</html>
